@use "../utils/mixins";

.about{
    &_accordion{
        @include mixins.flexCenter();
        flex-direction: column;
        text-align: center;

        &_summary{
           @include mixins.flexCenter();
            &--icon{
                margin-right: 10px;
            }

            &--name{
                padding-top: 1px;
            }
        }

        &_details{

            &--divider{
                margin-block: 20px;
            }

            &--information{
                padding-top: 20px;
            }
        }
    }
}