@use "../utils/mixins";

.navbar{
    &_tools{
        display: flex;
        justify-content: space-between;

        &_menu{
            &--link{
                @include mixins.flexCenter();

                text-decoration: none;
            }

        }
    }
}