:root{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root{
  padding: 0;
  background-color: transparent;
  box-shadow: none;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


@keyframes slider {
  0% {opacity: 0.05;}
  5% {opacity: 0.2;}
  10% {opacity: 0.5;}
  15% {opacity: 0.7;}
  25% {opacity: 0.9;}
  50% {opacity: 1; right: 0}
  60% {opacity: 1;}
  75% {opacity: 0.9;}
  80% {opacity: 0.7;}
  85% {opacity: 0.5;}
  90% {opacity: 0.4;}
  100% {opacity: 0.1; right: -1500px;}
}


.slide{
  position: relative;
  right: 1500px;
  width: 1230px;
  height: 420px;
  object-fit: cover;
  padding: 0;
  margin: 0;
  border-radius: 8px;
  animation-name: slider;
  animation-duration: 13.5s;
  animation-timing-function: ease-in-out;

  transition: opacity 8;
  transition-timing-function: ease-in-out;
}
.slide-next{
  display: none;
}