.model-card {
  padding: 12px;
  margin-right: 20px;
  width: 300px;
}
.model-card_image {
  max-width: 120px;
  max-height: 120px;
  margin-bottom: 8px;
}
.model-card_text {
  color: white;
}

.navbar_tools {
  display: flex;
  justify-content: space-between;
}
.navbar_tools_menu--link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.footer.MuiAppBar-root {
  display: flex;
  top: auto;
  bottom: 0;
  height: 50px;
  text-align: center;
  justify-content: center;
}

.app_routes.MuiPaper-root {
  background-color: transparent;
  box-shadow: none;
  background-image: none;
}

.root-container {
  box-sizing: border-box;
}

@keyframes sliding {
  0% {
    opacity: 0.05;
  }
  5% {
    opacity: 0.2;
  }
  10% {
    opacity: 0.5;
  }
  15% {
    opacity: 0.7;
  }
  25% {
    opacity: 0.9;
  }
  50% {
    opacity: 1;
    right: 0;
  }
  60% {
    opacity: 1;
  }
  75% {
    opacity: 0.9;
  }
  80% {
    opacity: 0.7;
  }
  90% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.1;
    right: -1500px;
  }
}
.home-container {
  width: 1400px;
  overflow: hidden;
  position: relative;
  right: 150px;
}

.home-container.MuiPaper-root {
  background-color: transparent;
  box-shadow: none;
  background-image: none;
}

.slide {
  margin: 0;
  padding: 0;
  width: 1230px;
  height: 420px;
  position: relative;
  right: 1500px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
  animation-name: sliding;
  animation-duration: 13.5s;
  animation-timing-function: ease-in-out;
  transition: opacity 8;
  transition-timing-function: ease-in-out;
}

.slide-next {
  display: none;
}

.about_accordion {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.about_accordion_summary {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about_accordion_summary--icon {
  margin-right: 10px;
}
.about_accordion_summary--name {
  padding-top: 1px;
}
.about_accordion_details--divider {
  margin-block: 20px;
}
.about_accordion_details--information {
  padding-top: 20px;
}

.models {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 50px;
  padding-bottom: 12px;
}
.models_name {
  padding-bottom: 4px;
}
.models_divider {
  padding-block: 12px;
}
.models_inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
}
.models_inputs--field.MuiTextField-root {
  margin-top: 10px;
  padding-right: 12px;
}
.models_inputs--button.MuiButton-root {
  margin-top: 10px;
  height: 55px;
}
.models_progress {
  margin-top: 30px;
}
.models_wrong-brand.MuiTypography-body1 {
  margin-top: 20px;
}
.models_vehicle-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-flow: wrap;
  row-gap: 20px;
  margin-top: 30px;
  margin-bottom: 60px;
}

.error {
  flex-direction: column;
  width: 500px;
  padding-inline: 16px;
  padding-block: 20px;
}
.error_reaction.MuiTypography-root.MuiTypography-h3 {
  color: #a30000;
}
.error_divider.MuiDivider-root {
  margin-block: 20px;
}
.error_message-information {
  font-weight: 600;
  color: #a30000;
}
.error_button.MuiButtonBase-root {
  margin-top: 20px;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  box-sizing: border-box;
}/*# sourceMappingURL=index.css.map */